<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="viewport" content="initial-scale = 1, width = device-width">
    <meta name="author" content="Kate Busse">
    <meta name="description" content="A weekly newsletter of the best news and articles on all things biotech. Stories are picked by hand from popular biotech sites. Delivered every week.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@biotechweekly">
    <meta name="twitter:title" content="$if(hasTitle)$$title$ :: $endif$Biotech Weekly">
    <meta name="twitter:description" content="$summary$">
    <meta name="twitter:image" content="https://biotechweekly.com/images/twitter-card.png">
    <meta name="og:image" content="https://biotechweekly.com/images/twitter-card.png">
    <meta name="og:site_name" content="Biotech Weekly">
    <meta name="og:title" content="Biotech Weekly">
    <meta name="og:description" content="A weekly newsletter of the best news and articles on all things biotech. Stories are picked by hand from popular biotech sites. Delivered every week.">
    <meta name="og:type" content="website">


    <title>$if(hasTitle)$$title$ :: $endif$Biotech Weekly</title>

    <!-- bootstrap css -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <style>$partial("templates/base.css")$</style>
    <link href="/biotech-weekly.atom" rel="alternate" title="Biotech Weekly" type="application/atom+xml">
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="$url$" rel="canonical">
  </head>

  <body>
    <main>
      $body$
    </main>

    <footer class="container">
      <p>
        <small>
        Content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.
        The source code for this site is available <a href="https://github.com/bsima/biotech-weekly">on GitHub</a>.
</small>
      </p>
    </footer>

    <!-- boostrap javascripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script async src="//www.google-analytics.com/analytics.js"></script>
    <script>$partial("templates/base.js")$</script>
  </body>
</html>
