@charset "utf-8";
@import "normalize";


body 
{ font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
; font-size: 1em
}


/*
Image sources:

1 https://moodle.kent.ac.uk/external/course/view.php?id=172
2 http://www.elsacker.org/2014/05/the-biology-of-cancer-stem-cells-cscs.html
3 https://resources.oncourse.iu.edu/access/content/user/jefflmil/Biology_X.htm
4 https://www.bumc.bu.edu/busm-pm/research/laboratories/lccb/
5 https://botany.biology.ufl.edu/courses/undergrad/bot-3023-essential-cell-biology/
6 https://www.ucl.ac.uk/lmcb/users/alison-lloyd
7 http://www.mwrif.org/82/reproductive-physiology-gonadal-biology-fertility
8 https://www.google.com/search?tbm=isch&q=biology%20cells&tbs=imgo:1#q=biology+cells&tbs=imgo:1,isz:l&tbm=isch&imgrc=9EqlbIRUCIzc_M%3A
9 https://commons.wikimedia.org/wiki/File:Skeletal_striated_muscle.jpg
 */
#cells
{ background: url("/images/bkgd.jpg") transparent no-repeat center/cover
; border-bottom: 3px solid rgba(15,25,50, 1)
}


#welcome 
{ background-color: rgba(15,25,50,0.8)
; display: flex
; flex-direction: row
; flex-wrap: nowrap
; justify-content: space-around
; align-items: center
; padding: 2em 1em
}

#logo img 
{ max-width: 100%
; max-height: 250px
}

h2#description 
{ color: rgba(255,255,255,0.9)
; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
; font-size: 1.8em
; font-weight: 400
; margin: 0 
; margin-left: 2rem
; max-width: 770px
}


#main-page
{ display: flex
; flex-direction: row-reverse
; flex-wrap: wrap
; justify-content: space-around
; align-items: flex-start
; align-content: space-around
}

/* Portable device styles */
@media only screen
  and (max-device-width: 568px)
  and (min-device-width: 320px)
{
    #welcome
    { flex-direction: column
    }

    #logo img
    { margin-bottom: 2rem
    }

    #main-page
    { justify-content: center
    }
}

#signup
{ font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
; font-size: 1.1em
; font-weight: 300
; margin-bottom: 2rem
}


#signup a
{ border: 1px solid white
; border-radius: 3px
; padding: 0.75em 0.7em
; color: white
; text-decoration: none
; transition: color 0.1s linear
}


#signup a:hover
{ background: rgba(0,0,0,0.2)
; color: white
; transition: all 0.15s linear
}
