<form id="signup"
      method="post"
      action="https://biotechweekly.us18.list-manage.com/subscribe/post?u=56a120861c49eaa22cd45e758&id=c539317160" 
      >
  <div class="form-group">
    <label class="sr-only" for="fname">First Name</label>
    <input id="fname" class="form-control form-control-lg" type="text" name="FNAME" placeholder="First Name"></input>
  </div>
  <div class="form-group">
    <label class="sr-only" for="lname">Last Name</label>
    <input id="lname" class="form-control form-control-lg" type="text" name="LNAME" placeholder="Last Name"></input>
  </div>
  <div class="form-group">
    <label class="sr-only" for="email">Email</label>
    <input id="email" class="form-control form-control-lg" type="text" name="EMAIL" placeholder="Email"></input>
  </div>
  <button type="submit" class="btn btn-lg btn-secondary">Subscribe</button>
</form>
