---
title: Biotech Weekly :: The best biotech news of the week!
---

<div id="cells">
<div class="welcome">
  <div class="logo">
    <%= image_tag "BWlogoWhite.png" %>
  </div>
  <h2 id="description">
    <p>A weekly email of the best news and articles on all things biotech. Stories are picked by hand from popular biotech sites.</p>
    <p>Delivered every week.</p>
  </h2>
  <p class="signup">
    <%= link_to "Signup", "todo" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
</div><!-- #cells -->