---
title: Biotech Weekly :: The best biotech news of the week!
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "BWlogoWhite.png" %>
  </div>
  <h2 id="description">
    <p>A weekly newsletter of the best news and articles on all things biotech. Stories are picked by hand from popular biotech sites.</p>
    <p>Delivered every week.</p>
  </h2>
  <p class="signup">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
