---
title: Biotech Weekly :: The best biotech news of the week!
---

<div id="cells">
    <div id="welcome">
        <div id="logo">
            <%= image_tag "BWlogoWhite.png" %>
        </div>
        <h2 id="description">
            <p>A weekly email of the best news and articles on all things biotech. Stories are picked by hand from popular biotech sites.</p>
            <p>Delivered every week.</p>
        </h2>
        <form id="signup"
              method="post"
              action="https://goodbits.io/e/a538f7cf-ba82-40a3-b333-1c06ae76ed3e">
            <div class="form-group">
                <label class="sr-only" for="first_name">First Name</label>
                <input class="form-control form-control-lg" type="text" name="first_name" placeholder="First Name"></input>
            </div>
            <div class="form-group">
                <label class="sr-only" for="last_name">Last Name</label>
                <input class="form-control form-control-lg" type="text" name="last_name" placeholder="Last Name"></input>
            </div>
            <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input class="form-control form-control-lg" type="text" name="email" placeholder="Email"></input>
            </div>
            <button type="submit" class="btn-lg btn-primary">Subscribe</button>
        </form>
    </div><!-- .welcome -->
</div><!-- #cells -->

<div class="container">
    <div id="archives">
        <p> content </p>
    </div>
</div>
